{% extends 'base.html' %}
{% block header %}
<title>Home</title>
<h1>Home</h1>
{% endblock header %}


{% block content %}
<h3>Avaliações</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam magni quasi beatae, eum laboriosam, itaque minima
  blanditiis ex earum impedit numquam debitis deleniti omnis expedita sit atque inventore, aut incidunt!</p>
<ul>
  <li>Um sonho de liberdade</li>
  <li>A Lista de Schindler</li>
  <li>Clube da Luta</li>
  <li>Matrix</li>
  <li>O Poderoso Chefão</li>
  <li>O Poderoso Chefão Parte II</li>
</ul>

<a href="{{ url_for('index') }}">Sobre nós!</a>

<p>Faltam <strong>{{ difference_day }} dias</strong> para o Oscar em {{ year }}</p>
{% endblock content %}