{% extends 'base.html' %}
{% block header %}
<title>Home</title>
<h1>Home</h1>
{% endblock header %}


{% block content %}
<h3>Avaliações</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam magni quasi beatae, eum laboriosam, itaque minima
  blanditiis ex earum impedit numquam debitis deleniti omnis expedita sit atque inventore, aut incidunt!</p>
<ul>
  {%for movie in movies%}
  <li>{{movie}}</li>
  {% endfor %}
</ul>

<a href="{{ url_for('about') }}">Sobre nós!</a>

{% if difference_day > 0 %}
<p>Faltam <strong>{{ difference_day }} dias</strong> para o Oscar em {{ year }}</p>
{% elif difference_day == 0 %}
<p>Hoje é o dia do OSCAR!</p>
{% else %}
<p>Aguarde a nova data do OSCAR!</p>
{% endif %}

{% endblock content %}