{% extends 'base.html' %}
  
  {% block header %}
  <title>About</title>
    <h1>Seja Bem-vindo ao "What to watch?"!</h1>
  {% endblock header %}


  {% block content %}
    <h2>Sobre</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Obcaecati, minima accusantium id voluptatibus quasi optio, architecto asperiores explicabo, doloremque officiis eaque suscipit ea sint earum itaque ipsam laborum aperiam excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsam earum sequi quidem quaerat repellendus vitae delectus qui? 
      Voluptas unde eum culpa odio magnam dignissimos explicabo reiciendis commodi suscipit expedita! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Excepturi veniam autem facilis nam id facere, obcaecati minus dolor velit perspiciatis unde sed. Esse, optio at? Facilis, minima iusto. Ut, nostrum.</p>
    
    <a href="{{ url_for('home') }}">Saiba Mais!</a>

    <h4 style="color: red">Seu acesso ao site expira em {{ expired_date }}</h4>
  {% endblock content %}

  {% block footer %}
  <p>{{ date }}</p>
{% endblock footer%}